# KMMI Machine Learning

---


***Classroom Exercise Meeting 2: Python Basics***

## Data Types

In [ ]:
# Tentukan tipe data dari variabel one, two, three, four, five berikut ini dengan perintah type
one = 128
two = 3.14
three = False
four = 'M'
five = {'marvell': ['Iron Man', 'Captain America', 'Thor', 'Black Widow'],
        'dc': ['Superman', 'Batman', 'Joker','Wonder Woman']}

In [ ]:
# Tentukan tipe data yang dihasilkan dari operasi aritmatika berikut ini
18 / 2
9 // 3
12 ** 2
12.5 ** 2
37 % 6

In [ ]:
# Perjalanan darat dari Surabaya ke Jakarta adalah 778 kilometer
# Berapa jam dan berapa menit waktu yang dibutuhkan sebuah bus kecepatan yang rata-ratanya 90 kilometer per jam?

## Data Structure

In [ ]:
# Berikut adalah nilai machine learning mahasiswa kelas A.
my_score_tuple = (87, 75, 91, "fail", 62, 77, 100, 98, 100, 75)
my_score_list = [87, 75, 91, "fail", 62, 77, 100, 98, 100, 75]

# Tampilkan elemen ke-4 dari tuple diatas

# Tampilkan 3 elemen terakhir dari tuple diatas

# Bagaimana cara menampilkan jumlah yang dapat score 100?

# Tampilkan list atas mulai dari nilai terkecil ke terbesar

In [ ]:
# Berikut adalah nilai machine learning mahasiswa kelas B.
class_b_score_list = [63, 65, 81, 82, 92, 57, "fail", "fail", 70, 85]

# Tambahkan nilai mahasiswa kelas A dan kelas B kedalam list bernama all_score_list

In [ ]:
# Berikut adalah menu makanan pada 3 resto di dekat kampus UC
my_resto_1 = {"geprek", "nasi sayur", "coffeetorium", "geprek", "pinangsia"}
my_resto_2 = {"nasi sayur", "geprek", "pinangsia"}
my_resto_3 = {"nasi sayur", "coffeetorium", "soto ayam"}

# Ada berapa elemen pada menu di resto 1?

# Apakah resto 2 dan resto 3 merupakan subset dari resto 1?

# Menu apa yang ada di resto 2 tetapi tidak ada di resto 3?

# Menu apa yang sama-sama dimiliki oleh resto 2 dan resto 3?

# Tampilkan seluruh menu yang ada di 3 resto dekat kampus UC

In [ ]:
# Berikut adalah data dari 2 hp populer
samsung_note_20 = {"Color": "Black", "Size": 6.5, "Price": 19000000}
iphone_12_pro = {"Color": "Dark Grey", "Size": 6.1, "Price": 18500000}

# Bagaimana cara menampilkan Color dari samsung_note_20?

# Bagaimana cara mengganti value Size dari iphone_12_pro dengan nilai 5.85

# Buatlah DataFrame dari pandas library dari kedua dictionary ini
# Lihat: https://www.geeksforgeeks.org/how-to-create-dataframe-from-dictionary-in-python-pandas/
# Tampilkan DataFrame nya

## Programming Fundamentals

Perhatikan tabel interpretasi Hasil Lab Covid-19 pada link berikut ini:
[link text](https://www.kompas.com/tren/image/2020/09/09/084500965/memahami-pcr-dan-rapid-test-pada-hasil-lab-covid-19-seperti-apa-?page=1)

In [ ]:
# Buatlah sebuah function bernama interpret yang memiliki 3 parameter, yaitu: PCR, Ig_M, dan Ig_G
# Function ini jika diakses akan memberikan return Interpretasi hasil
# Kombinasi ketiga argument yang tidak ditemukan dianggap tidak valid
def interpret(PCR, Ig_M, Ig_G):
  return ""

interpret('positif','negatif','negatif')

In [ ]:
# Buatlah sebuah Lambda Function untuk mengkonversi inch ke centimeter.

<h1 align="center">=== Selamat Bekerja ===</h1>